:root {
    --primary: #004E98;
    --primary-70: rgb(0, 78, 152, 0.8);
    --primary-50: rgb(0, 78, 152, 0.6);
    --primary-30: rgb(0, 78, 152, 0.4);
    --primary-10: rgb(0, 78, 152, 0.2);
    --secondary: #f6575e;
    --logo: #002A52;
    --primary-light: #3A6EA5;
    --primary-dark: #002A52;
    --sidebar-icon: #FBFBF2;
    --light: #FBFBF2;
    --dark: #212529;
    --succes: #0CCA4A;
    --info: #FFC800;
    --danger: #bf0d00;
    --tertiary: #FF6700;
    --orange: #FF6700;
    --red: #D7263D;
}

.bg-grad-sidebar {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#002A52),
    to(#004E98)
  );

  background-image: linear-gradient(
    0deg,
    #002A52,
    #004E98
  );
}

.bg-primary-70 {
    background-color:var(--primary-70)
}

.text-secondary {
    color:var(--secondary)
}

/* CSS HEX */
--charleston-green: #212529;
--baby-powder: #fbfbf2;
--prussian-blue: #002a52;
--yale-blue: #004e98;
--queen-blue: #3a6ea5;
--pacific-blue: #46b1c9;
--crimson: #d7263d;
--mikado-yellow: #ffc800;
--dark-pastel-green: #0cca4a;
--safety-orange-blaze-orange: #ff6700;

/* CSS HSL */
--charleston-green: hsla(210, 11%, 15%, 1);
--baby-powder: hsla(60, 53%, 97%, 1);
--prussian-blue: hsla(209, 100%, 16%, 1);
--yale-blue: hsla(209, 100%, 30%, 1);
--queen-blue: hsla(211, 48%, 44%, 1);
--pacific-blue: hsla(191, 55%, 53%, 1);
--crimson: hsla(352, 70%, 50%, 1);
--mikado-yellow: hsla(47, 100%, 50%, 1);
--dark-pastel-green: hsla(140, 89%, 42%, 1);
--safety-orange-blaze-orange: hsla(24, 100%, 50%, 1);

/* SCSS HEX */
$charleston-green: #212529ff;
$baby-powder: #fbfbf2ff;
$prussian-blue: #002a52ff;
$yale-blue: #004e98ff;
$queen-blue: #3a6ea5ff;
$pacific-blue: #46b1c9ff;
$crimson: #d7263dff;
$mikado-yellow: #ffc800ff;
$dark-pastel-green: #0cca4aff;
$safety-orange-blaze-orange: #ff6700ff;

/* SCSS HSL */
$charleston-green: hsla(210, 11%, 15%, 1);
$baby-powder: hsla(60, 53%, 97%, 1);
$prussian-blue: hsla(209, 100%, 16%, 1);
$yale-blue: hsla(209, 100%, 30%, 1);
$queen-blue: hsla(211, 48%, 44%, 1);
$pacific-blue: hsla(191, 55%, 53%, 1);
$crimson: hsla(352, 70%, 50%, 1);
$mikado-yellow: hsla(47, 100%, 50%, 1);
$dark-pastel-green: hsla(140, 89%, 42%, 1);
$safety-orange-blaze-orange: hsla(24, 100%, 50%, 1);

/* SCSS RGB */
$charleston-green: rgba(33, 37, 41, 1);
$baby-powder: rgba(251, 251, 242, 1);
$prussian-blue: rgba(0, 42, 82, 1);
$yale-blue: rgba(0, 78, 152, 1);
$queen-blue: rgba(58, 110, 165, 1);
$pacific-blue: rgba(70, 177, 201, 1);
$crimson: rgba(215, 38, 61, 1);
$mikado-yellow: rgba(255, 200, 0, 1);
$dark-pastel-green: rgba(12, 202, 74, 1);
$safety-orange-blaze-orange: rgba(255, 103, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-right: linear-gradient(90deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-bottom: linear-gradient(180deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-left: linear-gradient(270deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-top-right: linear-gradient(45deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-bottom-right: linear-gradient(135deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-top-left: linear-gradient(225deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-bottom-left: linear-gradient(315deg, #212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
$gradient-radial: radial-gradient(#212529ff, #fbfbf2ff, #002a52ff, #004e98ff, #3a6ea5ff, #46b1c9ff, #d7263dff, #ffc800ff, #0cca4aff, #ff6700ff);
